@import './reset.css';

:root {
    --app-dark-bg:#1a1d28;
    --app-border-radius: 6px;
    --app-purple: #a4508b;  
    --app-purple-hover: #8d4277 ;
}

body {
    background-color: var(--app-dark-bg);
    height: 100vh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* -------------------------------- */
/* Header                           */
/* -------------------------------- */

header {
    width: 100%;
    height: 66px;
    overflow: hidden;
    background-color: rgba(128, 129, 134, 0.2);
    border: none;
    padding: 10px 0px;
}
  
.flexbox {
    display: flex;
}
  
.title {
    width: 40%;
    height: 50px;
}
  
.title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #f2f4f6;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-left: 10px;
}

.fa-ticket {
    color: #a4508b;
}
  
nav {
    width: 60%;
    text-align: right;
    height: 50px;
}
  
nav ul {
    list-style: none;
}
  
nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}
  
nav ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
  
nav ul li a:hover {
    color: var(--app-purple-hover);
}
  
  
nav ul li + li {
    margin-left: 20px;
}

.hamburger-menu {
    display: none;
}


/* -------------------------------- */
/* Section                          */
/* -------------------------------- */
section{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    padding: 10px;
}


/* -------------------------------- */
/* Seach Area                       */
/* -------------------------------- */

form {
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.search-input {
    position: relative;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"] {
    width: 700px;
    height: 47px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

input[type="text"].movie-input {
    background: transparent url(../img/search-icon.png) no-repeat 10px 10px;
    background-size: 21px;
    padding: 0 37px 0 38px;
}



input[type="text"].city-input {
    width: 330px;
    background: transparent url(../img/map-locator.png) no-repeat 10px 10px;
    background-size: 23px;
    padding: 0 37px 0 38px;
}

input:focus {
    border: 1px solid rgba(255, 255, 255, 0.302);
}

button {
    width: 90px;
    height: 46px;
    text-align: center;
    background-color: var(--app-purple);
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
}

button:hover {
    background-color: var(--app-purple-hover);
    background-image: linear-gradient(326deg, #8d4277 0%, #5c0585 74%);
}


#moviesearch-result {
    display: none;
    position: absolute;
    left:0;
    top: 100%;
    background-color: #f0f2f4;
    width: 350px;
    height: auto;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: all 0.25s ease-in-out;
    text-align: left;
    border-radius: 4px;
}

#citysearch-result {
    display: none;
    position: absolute;
    right:0;
    top: 100%;
    background-color: #f0f2f4;
    width: 330px;
    height: auto;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: all 0.25s ease-in-out;
    text-align: left;
    border-radius: 4px;
}

#moviesearch-result div, #citysearch-result div {
    padding: 10px;
    background-color: #f0f2f4;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.25s ease-in-out;
}

#moviesearch-result div:hover, #citysearch-result div:hover {
    background-color: var(--app-purple-hover);
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    color: #f0f2f4;
}

h3{
    margin-top: 3rem;
    padding: 5px 12px;
    color: #f0f2f4;
    font-weight: 500;
}



/* -------------------------------- */
/* Movie Display                    */
/* -------------------------------- */

.storage-display{
    margin-top: 4px;
    border: none;
    height: auto;
    padding: 10px;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}


.movies {
    width: 200px;
    height: 330px;
    margin: 10px auto;
    background-color: var(--app-dark-bg);
    border-radius: var(--app-border-radius);
    color: var(--app-dark-bg);
    transition: all 0.25s ease-in-out;
}

.movies:hover{
    transform: translateY(-10px);
}

.movie-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.movie-title {
    color:#f0f2f4;
    margin-top:6px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size: 15px;
}



/* -------------------------------- */
/* Media Queries                    */
/* -------------------------------- */

@media (max-width: 980px) {

    input[type="text"] {
        width: 500px;       
    }
    
    input[type="text"].movie-input {
        background-size: 22px;
        padding: 0 37px 0 38px;
    }
    
    
    input[type="text"].city-input {
        width: 300px;
        background-size: 23px;
        padding: 0 37px 0 38px;
    }

    #moviesearch-result {
        width: 350px;
        height: auto;

    }
    
    #citysearch-result {
        width: 300px;
        height: auto;
    }  
}

@media (max-width: 800px) {
    
    .hamburger-menu {
        display: block;
    }

    nav ul li, .contact {
        display: none;
    }

    #menu-toggle {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-btn > span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked + .menu-btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu-toggle:checked + .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu-box {
        left: 54.5% !important;
    }

    .menu-btn {
        position: absolute;
        top: 38px;
        left: 89%;
        width: 24px;
        height: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #f0f2f4;
        transition-duration: .25s;
    }

    .menu-btn > span::before {
        content: '';
        top: -8px;
    }

    .menu-btn > span::after {
        content: '';
        top: 8px;
    }


    input[type="text"] {
        width: 420px;       
    }
    
    
    input[type="text"].city-input {
        width: 270px;
        background-size: 23px;
        padding: 0 37px 0 38px;
    }

    #moviesearch-result {
        width: 350px;
        height: auto;
        padding: 0px;
        left:0;
        top: 100%;
    }
    
    #citysearch-result {
        width: 270px;
        height: auto;
        padding: 0px;
        right:0;
        top: 100%;
    }  
}

@media (max-width: 690px) {
    input[type="text"] {
        width: 340px;       
    }
    
    
    input[type="text"].city-input {
        width: 250px;
        background-size: 23px;
        padding: 0 37px 0 38px;
    }
}


@media (max-width: 550px) {

    form {
        width: 100%;
        height: 100%;
    }

    .search-input {
        position: relative;
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: space-between;
    }
    
    input[type="text"] {
        width: 410px;
        height: 47px;
        padding: 0 15px;
        font-size: 15px;
        
    }
    
    input[type="text"].movie-input {
        background-size: 22px;
        padding: 0 37px 0 38px;
    }
    
    
    input[type="text"].city-input {
        width: 410px;
        background-size: 22px;
        padding: 0 37px 0 38px;
    }

    button {
        width: 90px;
        height: 46px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        top: 55%;
        right: 3px;
    }

    #moviesearch-result {
        width: 410px;
        height: auto;
        left:0;
        top: 45%;
    }
    
    #citysearch-result {
        width: 410px;
        height: auto;
        right:0;
        top: 100%;
    }  
    
    h3 {
        padding: 5px 18px;
        font-weight: 400;
    }

    
    
}

@media (max-width: 420px) {

    input[type="text"] {
        width: 342px;       
    }
    
    input[type="text"].movie-input {
        background-size: 22px;
    }
    
    
    input[type="text"].city-input {
        width: 342px;
    }

    button {
        right: 0;
    }

    #moviesearch-result {
        width: 342px;
        height: auto;
        padding: 0px;
        left:0;
        top: 45%;
    }
    
    #citysearch-result {
        width: 342px;
        height: auto;
        padding: 0px;
        right:0;
        top: 100%;
    }  

    .storage-display{
        height: auto;
        padding: 10px;
        display: grid;
        place-items: center;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    }
    
    
    .movies {
        width: 160px;
        height: 330px;
        margin: 10px auto;
    }

}

@media (max-width: 393px) {

    input[type="text"] {
        width: 320px;       
    }
    
    input[type="text"].movie-input {
        background-size: 20px;
    }
    
    
    input[type="text"].city-input {
        width: 320px;
        background-size: 20px;
    }

    button {
        right: 0;
    }

    #moviesearch-result {
        width: 320px;
    }
    
    #citysearch-result {
        width: 320px;
    }  

}

