@import './reset.css';

:root {
    --app-dark-bg:#1a1d28;
    --app-blue:#3c57ff;
    --app-blue-hover:#1937fc;
    --app-border-radius: 6px;
}

body {
    background-color: var(--app-dark-bg);
    height: 100vh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* -------------------------------- */
/* Header                           */
/* -------------------------------- */

header {
    width: 100%;
    height: 66px;
    overflow: hidden;
    background-color: rgba(128, 129, 134, 0.2);
    border: none;
    padding: 10px 0px;
}
  
.flexbox {
    display: flex;
}
  
.title {
    width: 40%;
    height: 36px;
}
  
.title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #f2f4f6;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
  
nav {
    width: 60%;
    text-align: right;
}
  
nav ul {
    list-style: none;
}
  
nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}
  
nav ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
  
nav ul li a:hover {
    color: var(--app-blue-hover);
}
  
  
nav ul li + li {
    margin-left: 20px;
}


/* -------------------------------- */
/* Section                          */
/* -------------------------------- */
section{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    padding: 10px;
}


/* -------------------------------- */
/* Seach Area                       */
/* -------------------------------- */

form {
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #1937fc;
}

.search-input {
    position: relative;
    border: 1px solid #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"] {
    width: 700px;
    height: 48px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

input[type="text"].movie-input {
    background: transparent url(../img/search-icon.png) no-repeat 10px 10px;
    background-size: 23px;
    padding: 0 35px 0 38px;
}



input[type="text"].city-input {
    width: 320px;
    background: transparent url(../img/map-locator.png) no-repeat 10px 10px;
    background-size: 23px;
    padding: 0 35px 0 38px;
}

input:focus {
    border: 1px solid rgba(255, 255, 255, 0.302);
}

button {
    width: 100px;
    height: 46px;
    text-align: center;
    background-color: var(--app-blue);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
}

button:hover {
    background-color: var(--app-blue-hover);
}


#moviesearch-result {
    display: none;
    position: absolute;
    left:0;
    top: 100%;
    background-color: #fff;
    width: 350px;
    height: auto;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: all 0.25s ease-in-out;
    text-align: left;
    border-radius: 4px;
}

#citysearch-result {
    display: none;
    position: absolute;
    right:0;
    top: 100%;
    background-color: #fff;
    width: 320px;
    height: auto;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: all 0.25s ease-in-out;
    text-align: left;
    border-radius: 4px;

}

#moviesearch-result div, #citysearch-result div {
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

#moviesearch-result div:hover, #citysearch-result div:hover {
    background-color: var(--app-blue-hover);
    color: #fff;
}



/* -------------------------------- */
/* Movie Display                    */
/* -------------------------------- */

.storage-display{
    margin-top: 3rem;
    border: none;
    height: auto;
    padding: 10px;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}


.movies {
    width: 200px;
    height: 330px;
    margin: 10px auto;
    background-color: var(--app-dark-bg);
    border-radius: var(--app-border-radius);
    color: var(--app-dark-bg);
    transition: all 0.25s ease-in-out;
}

.movies:hover{
    transform: translateY(-10px);
}